.card {
  background-color: var(--mantine-color-dark-6);
  max-width: 100%;
}

.title {
  font-weight: 600;
  font-size: rem(22px);
  color: var(--mantine-color-white-1);
  margin-bottom: var(--mantine-spacing-xs);
  text-align: left;
  font-family: var(--mantine-font-family-headings);
  max-width: 200px;
}

.carousel{
  width: 100%;
  height: 100%;
  
}

.slide{
  min-height: 100%;
  height: 15rem;
}
@media (max-width: 750px) {
  .slide {
   height: 17rem;

  }
}

.description {
  color: var(--mantine-color-white-3);
  width: 100%;
  line-height: 1.7;
}

  
.carousel {
  @mixin hover {
    .carouselControls {
      opacity: 1;
    }
  }
}
  
.carouselControls {
  opacity: 1 !important;
  size: 5rem;

}

.carouselControl {
  background-color: var(--mantine-color-dark-6);
  color: var(--mantine-color-white-0);
  border-radius: var(--mantine-radius-md);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-xs);
  font-size: var(--mantine-font-size-md);
  cursor: pointer;
  border-style: none;
  opacity: 0.8;
  box-shadow: none;
  border: none;
  
}
.carouselControls :hover{
  background-color: var(--mantine-color-dark-3);
  color: var(--mantine-color-gray-2);
}



.carouselIndicator {
  width: 8px;
  height: 8px;
  transition: width 250ms ease;

  &[data-active] {
    width: 16px;
  }
}