.wrapper {
  width: 100vw;
  padding: var(--mantine-spacing-xs);
  background-color: var(--mantine-color-dark-8);
}

.inner {
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 100%;

  background-color: var(--mantine-color-dark-7);
  max-width: var(--mantine-breakpoint-sm);
  padding: var(--mantine-spacing-lg);
  border-radius: var(--mantine-radius-md);
  row-gap: var(--mantine-spacing-sm);
}

.container {
  max-width: var(--mantine-breakpoint-lg);
  margin: 0 var(--mantine-spacing-sm);
}

.title {
  font-weight: 600;
  font-size: rem(26px);
  color: var(--mantine-color-white);
  margin-bottom: var(--mantine-spacing-xs);
  text-align: left;
  font-family: var(--mantine-font-family-headings);
}


.description {
  font-size: var(--mantine-font-size-md);
  color: var(--mantine-color-white-3);
  max-width: 500px;
  line-height: 1.9;
}
  
  .card {
    border: 1px solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
    padding-top: 0;
    padding-bottom: 10vh;
    padding-left: 30 vw;
    padding-right: 30 vw;
    margin: auto auto;
    margin-bottom: 10vh;
    max-width: 50vw;
    width: 100%;
  }
  
  .cardTitle {
    &::after {
      content: '';
      display: block;
      background-color: var(--mantine-color-dark-8);
      width: 45px;
      height: 4px;
      margin-top: var(--mantine-spacing-sm);
    }
  }