.wrapper {
  width: 100vw;
  padding: var(--mantine-spacing-xs);
  background-color: var(--mantine-color-dark-8);
  margin-top: 65px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;

  background-color: var(--mantine-color-dark-7);
  max-width: var(--mantine-breakpoint-sm);
  padding: var(--mantine-spacing-lg);
  border-radius: var(--mantine-radius-md);
  row-gap: var(--mantine-spacing-sm);
}

.textContent {
  text-align: left;
  max-width: 500px;
}

.title {
  font-weight: 800;
  font-size: rem(28px);
  color: var(--mantine-color-white);
  text-align: left;
  font-family: var(--mantine-font-family-headings);
  width: 100%;
}

.subtitle {
  font-weight: 600;
  font-size: rem(26px);
  color: var(--mantine-color-white-3);
  margin-bottom: var(--mantine-spacing-xs);
  text-align: left;
  font-family: var(--mantine-font-family-headings);
}

.pretitle {
  font-weight: 800;
  font-size: rem(26px);
  color: var(--mantine-color-white-3);
  text-align: left;
  font-family: var(--mantine-font-family-headings);
}

.description {
  margin-top: var(--mantine-spacing-md);
  color: var(--mantine-color-white-3);
  text-align: left;
  font-size: var(--mantine-font-size-md);
}

.image {
  width: 150px;
  height: 150px;
  border-radius: var(--mantine-radius-md);
  object-fit: cover;
  margin-bottom: auto;
} 

@media (max-width: 750px) {
  .inner {
    max-width: 100%;
    flex-direction: column;
    padding: var(--mantine-spacing-xs);
    text-align: center;
    margin: var(--mantine-spacing-xs);
  }

  .textContent {
    text-align: left;
    max-width: 100%;
    margin-right: auto;
  }

  .title,
  .subtitle,
  .pretitle,
  .description {
    text-align: left;
  }

  .image {
    width: 150px;
    height: 150px;
    margin-bottom: var(--mantine-spacing-sm);
    margin-right: auto;
  }
}




.controls {
  width: 100%;
  margin-top: calc(var(--mantine-spacing-xl) * 2.5);
  display: flex;
  justify-content: right;
  padding-left: var(--mantine-spacing-md);

  @media (max-width: var(--mantine-breakpoint-xs)) {
    flex-direction: column;
  }
}

.control {
  height: rem(42px);
  font-size: var(--mantine-font-size-md);

}