.wrapper {
  width: 100vw;
  padding: var(--mantine-spacing-xs);
  background-color: var(--mantine-color-dark-8);
}


.inner {
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 100%;

  background-color: var(--mantine-color-dark-7);
  max-width: var(--mantine-breakpoint-sm);
  padding: var(--mantine-spacing-lg);
  border-radius: var(--mantine-radius-md);
  row-gap: var(--mantine-spacing-sm);
}

.title {
  font-weight: 600;
  font-size: rem(26px);
  color: var(--mantine-color-white);
  margin-bottom: var(--mantine-spacing-xs);
  text-align: left;
  font-family: var(--mantine-font-family-headings);
}


.description {
  font-size: var(--mantine-font-size-md);
  color: var(--mantine-color-white-3);
  max-width: 500px;
  line-height: 1.9;
}

.infoContainer {
  min-width: 300px;
}
@media (max-width: 550px) {
  .infoContainer {
    min-width: 100%;
  }
}

.formTitle {
  margin-bottom: var(--mantine-spacing-lg);
}

.submitButton {
  margin-top: var(--mantine-spacing-md);
  width: 100%;
}
