.wrapper {
  width: 100vw;
  padding: var(--mantine-spacing-xs);
  background-color: var(--mantine-color-dark-8);
}

.inner {
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 100%;

  background-color: var(--mantine-color-dark-7);
  max-width: var(--mantine-breakpoint-sm);
  padding: var(--mantine-spacing-lg);
  border-radius: var(--mantine-radius-md);
  row-gap: var(--mantine-spacing-sm);
}
@media (max-width: 750px) {
  .inner {
    max-width: 100%;
    flex-direction: column;
    padding-left: var(--mantine-spacing-xs);
    padding-right: var(--mantine-spacing-xs);
  }
}


.container {
  max-width: var(--mantine-breakpoint-lg);
  margin: 0 var(--mantine-spacing-sm);
}

.content {
  margin-top: var(--mantine-spacing-md);
  overflow: auto;
  width: 100%;
  max-width: var(--mantine-breakpoint-xs);
  
}


.title {
  font-weight: 600;
  font-size: rem(26px);
  color: var(--mantine-color-white);
  margin-bottom: var(--mantine-spacing-xs);
  text-align: left;
  font-family: var(--mantine-font-family-headings);
}


.description {
  font-size: var(--mantine-font-size-md);
  color: var(--mantine-color-white-3);
  max-width: 500px;
  line-height: 1.9;
}

.skillsSection {
  padding-top: var(--mantine-spacing-xs);
  margin-bottom: var(--mantine-spacing-xl);
}

.skillsTitle {
  margin-bottom: var(--mantine-spacing-lg);
  font-weight: 800;
  color: var(--mantine-color-white-0);
  font-size: rem(40px);
}

.skillsGrid {
  margin-top: var(--mantine-spacing-lg);
  gap: var(--mantine-spacing-xl);
  padding-top: var(--mantine-spacing-lg);
}

.skillLabel {
  color: var(--mantine-color-dark-2);
  font-size: var(--mantine-font-size-md);
}

.controls {
  margin-top: var(--mantine-spacing-xl);
  gap: var(--mantine-spacing-md);
}

@media (max-width: var(--mantine-breakpoint-md)) {
  .image {
    max-width: 250px;
    margin: 0 auto var(--mantine-spacing-xl);
  }
  
  .title {
    font-size: var(--mantine-font-size-heading-lg);
  }
  
  .subtitle {
    font-size: var(--mantine-font-size-md);
  }
  
  .description {
    font-size: var(--mantine-font-size-md);
  }
}